stages:
  - build
  - test
  - deploy

variables:
  BUILD_NUMBER: $CI_PIPELINE_ID
  BUILD_DIR: "/tmp/$CI_PROJECT_ID/boom-$BUILD_NUMBER"
  APK_NAME: boom-release.apk
  DEPLOY_SERVER_PATH: /Volumes/DATA/Projects/iBoom-Android/Builds/CI
  DEPLOY_DIR: $DEPLOY_SERVER_PATH/Latest/ 

build_project:
  stage: build
  script:
    - echo "*** Building..."
    - chmod +x build.sh
    - ./build.sh

test_project:
  stage: test
  script:
    - echo "*** Testing..."

deploy_project:
  stage: deploy
  script:
    - echo "*** Deploying..."
    - ssh -t fs.globaldelight.com DEPLOY_SERVER_PATH=$DEPLOY_SERVER_PATH DEPLOY_DIR=$DEPLOY_DIR 'bash -s' < pre_deploy.sh
    - ssh -t fs.globaldelight.com "mkdir -p $DEPLOY_DIR/Build_$BUILD_NUMBER"
    - scp "$BUILD_DIR/$APK_NAME" "fs.globaldelight.com:$DEPLOY_DIR/Build_$BUILD_NUMBER/$APK_NAME"